{% extends 'pizzaShop/base.html' %}

<h1>More About {{pizza.title}}.</h1>
{% block content %}
{% load static %}

	<form class="d-flex" method = "get" action = "{% url 'order' %}">
		<select name = 'length'>
		<option value = '0'> 0 </option>
		<option value = '1'> 1 </option>
		<option value = '2'> 2 </option>
		<option value = '3'> 3 </option>
		<option value = '4'> 4 </option>
		<option value = '5'> 5 </option>
		<option value = '6'> 6 </option>
		</select><br>
		<select name = 'small'>
		<option value = '{{pizza.small}}'>Small ₹{{pizza.small}}</option>
		<option value = '{{pizza.medium}}'>Medium ₹{{pizza.medium}}</option>
		<option value = '{{pizza.large}}'>Large ₹{{pizza.large}}</option>
		</select>	

<a href= "{{value.url}}">
		<img src = "{{pizza.image.url}}" class ="img-fluid mb-2"><br>
		</a><br>
			<input type = "submit" value = "Place Order" class="btn btn-outline-success">
	</form>






{% endblock %}
